.setting-dashboard-container {
  min-height: 100vh;
}
.setting-dashboard-setting-dashboard {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(250, 251, 252, 1);
}
.setting-dashboard-rectangle36 {
  top: 154px;
  left: 246px;
  width: 262px;
  height: 878px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.setting-dashboard-rectangle38 {
  top: 154px;
  left: 538px;
  width: 1136px;
  height: 878px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.setting-dashboard-rectangle34 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 110px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-navitems {
  top: 186px;
  left: 266px;
  width: 152px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.setting-dashboard-item {
  width: 87px;
  height: 25px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 32px;
}
.setting-dashboard-vuesaxlineargroup {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-vector {
  top: 2.18377685546875px;
  left: 1.9968109130859375px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-vector1 {
  top: 10.5px;
  left: 9.5px;
  width: 5px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-text {
  left: 38px;
  color: rgba(76, 83, 95, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-item1 {
  width: 87px;
  height: 25px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.setting-dashboard-setting2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-vector2 {
  top: 9px;
  left: 9px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-vector3 {
  top: 2.561098575592041px;
  left: 2px;
  width: 20px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-text02 {
  left: 38px;
  color: rgba(113, 50, 215, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-logout {
  top: 960.489990234375px;
  left: 268.5px;
  width: 19px;
  height: 19.040000915527344px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-vector4 {
  top: 0px;
  left: 6.399999618530273px;
  width: 13px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-vector5 {
  top: 9.510000228881836px;
  left: 1.119999885559082px;
  width: 11px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-vector6 {
  top: 6.159999847412109px;
  left: 0px;
  width: 3px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-text04 {
  top: 958px;
  left: 304px;
  color: rgba(76, 83, 95, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-line10 {
  top: 238px;
  left: 562px;
  width: 776px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-line11 {
  top: 474px;
  left: 562px;
  width: 1087px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-titles {
  top: 202px;
  left: 562px;
  width: 595px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.setting-dashboard-title2 {
  width: 79px;
  height: 36px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 12px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-frame25 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.setting-dashboard-frame26 {
  display: flex;
  padding: 0 12px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 9px;
}
.setting-dashboard-text06 {
  color: rgba(113, 123, 140, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-line111 {
  width: 79px;
  height: 0px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-title1 {
  width: 176px;
  height: 36px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 12px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-frame251 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.setting-dashboard-frame261 {
  display: flex;
  padding: 0 12px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 9px;
}
.setting-dashboard-text08 {
  color: rgba(113, 50, 215, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-line112 {
  width: 176px;
  height: 0px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-title3 {
  width: 187px;
  height: 36px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 12px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-frame252 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.setting-dashboard-frame262 {
  display: flex;
  padding: 0 12px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 9px;
}
.setting-dashboard-text10 {
  color: rgba(113, 123, 140, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-line113 {
  width: 187px;
  height: 0px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-title4 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 12px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.setting-dashboard-frame253 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.setting-dashboard-frame263 {
  display: flex;
  padding: 0 12px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 9px;
}
.setting-dashboard-text12 {
  color: rgba(113, 123, 140, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-line114 {
  width: 117px;
  height: 0px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.setting-dashboard-inputfileds {
  top: 385px;
  left: 563px;
  width: 543px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.setting-dashboard-group27 {
  width: 543px;
  height: 55px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 24px;
}
.setting-dashboard-rectangle41 {
  top: 19.69135856628418px;
  left: 7px;
  width: 512px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(224, 228, 236, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.setting-dashboard-text14 {
  top: 22px;
  left: 196px;
  color: rgba(141, 152, 170, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text16 {
  top: 21px;
  left: 373px;
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text18 {
  top: 21.04938316345215px;
  left: 1px;
  color: rgba(76, 83, 95, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text20 {
  left: 1px;
  color: rgba(76, 83, 95, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-group29 {
  width: 543px;
  height: 55px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 24px;
}
.setting-dashboard-rectangle411 {
  top: 19.69135856628418px;
  left: 7px;
  width: 512px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(224, 228, 236, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.setting-dashboard-text22 {
  top: 22px;
  left: 196px;
  color: rgba(141, 152, 170, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text24 {
  top: 22px;
  left: 373px;
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text26 {
  top: 21px;
  left: 1px;
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text28 {
  left: 1px;
  color: rgba(76, 83, 95, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-group30 {
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 24px;
  flex-direction: column;
}
.setting-dashboard-text30 {
  color: rgba(76, 83, 95, 1);
  width: 228px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.setting-dashboard-freqobstacles {
  width: 542px;
  height: 17.654321670532227px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 5px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-rectangle412 {
  top: 0px;
  left: 6px;
  width: 512px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(224, 228, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.setting-dashboard-text32 {
  top: 2.3086395263671875px;
  left: 195px;
  color: rgba(141, 152, 170, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-text33 {
  top: 2.3086395263671875px;
  left: 372px;
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-text35 {
  top: 1.3086395263671875px;
  color: rgba(76, 83, 95, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-freqlocalpath {
  width: 542px;
  height: 17.654321670532227px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-rectangle413 {
  top: 0px;
  left: 6px;
  width: 512px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(224, 228, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.setting-dashboard-text37 {
  top: 2.3086395263671875px;
  left: 195px;
  color: rgba(141, 152, 170, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-text38 {
  top: 2.3086395263671875px;
  left: 372px;
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-text40 {
  top: 1.3086395263671875px;
  color: rgba(76, 83, 95, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-group31 {
  width: 543px;
  height: 55px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.setting-dashboard-rectangle414 {
  top: 19.69135856628418px;
  left: 7px;
  width: 512px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(224, 228, 236, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.setting-dashboard-text42 {
  top: 22px;
  left: 196px;
  color: rgba(141, 152, 170, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text44 {
  top: 22px;
  left: 373px;
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text46 {
  top: 21px;
  left: 1px;
  color: rgba(76, 83, 95, 1);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-text48 {
  left: 1px;
  color: rgba(76, 83, 95, 1);
  width: 195px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-selection {
  top: 467px;
  left: 1421px;
  width: 237px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.setting-dashboard-text50 {
  color: rgba(76, 83, 95, 1);
  width: 235px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.setting-dashboard-radio {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 10px;
  justify-content: center;
}
.setting-dashboard-radio1 {
  width: 57px;
  height: 57px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 10px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-ellipse1 {
  top: 0px;
  left: 0px;
  width: 57px;
  height: 57px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(142, 92, 223, 1);
  border-style: solid;
  border-width: 1px;
}
.setting-dashboard-vector7 {
  top: 18px;
  left: 16px;
  width: 25px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-text52 {
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-radio2 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
}
.setting-dashboard-ellipse11 {
  width: 57px;
  height: 57px;
  position: relative;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  margin-bottom: 0;
}
.setting-dashboard-text54 {
  color: rgba(76, 83, 95, 1);
  width: 170px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.setting-dashboard-group291 {
  top: 693px;
  left: 1406px;
  width: 252px;
  height: 190px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-rectangle415 {
  top: 29.465240478515625px;
  left: 0px;
  width: 252px;
  height: 161px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.setting-dashboard-image2 {
  top: 42px;
  left: 4px;
  width: 244px;
  height: 132px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.setting-dashboard-text56 {
  left: 0.5260960459709167px;
  color: rgba(76, 83, 95, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 112.4000072479248%;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-button {
  top: 939px;
  left: 564px;
  width: 201px;
  height: 62px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-rectangle46 {
  top: 0px;
  left: 0px;
  width: 201px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 8px;
}
.setting-dashboard-text58 {
  top: 12px;
  left: 68px;
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-button1 {
  top: 939px;
  left: 783px;
  width: 201px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(113, 50, 215, 1);
}
.setting-dashboard-text63 {
  top: 12px;
  left: 68px;
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-group301 {
  top: 14px;
  left: 1426px;
  width: 120px;
  height: 83.1111068725586px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-image1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 83px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.setting-dashboard-arrowdown {
  top: 37px;
  left: 1638px;
  width: 36px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(249, 250, 251, 1);
}
.setting-dashboard-vector8 {
  top: 13.5px;
  left: 9px;
  width: 18px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.setting-dashboard-group133521 {
  top: 34px;
  left: 269px;
  width: 240px;
  height: 39px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.setting-dashboard-text65 {
  color: rgba(112, 50, 214, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.setting-dashboard-line12 {
  top: 411px;
  left: 505px;
  width: 32px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.navbar{
  height: 6rem !important;
}