{% import 'bootstrap/wtf.html' as wtf %}
{% macro render_form(module,form_to_render) %}

<!--   {{wtf.quick_form(form_to_render, action=url_for('home'))}} -->
<form action="{{url_for(module)}}" method="post" class="form px-5 row d-flex">
  <div class="d-block col-8">
  {% for item in form_to_render %}
    <div class="form-group">
      <div class="row align-items-center">
        {% if item.type == 'BooleanField' %}
        {% elif item.type == 'SubmitField' %}
        <div class="col-6 my-4">
          <input class="btn me-2" id="reset" name="reset" type="reset" value="Reset">
        </div>
        <div class="col-6 my-4">
          {{item(class='btn')|safe}}
        </div>
        {% elif item.id == 'csrf_token' %}
        <div>{{item}}</div>
        {% else %}
        <div class="col-12 p-2">{{item.label(class='form-label')}}</div>
        <div class="col-3"></div>
        <div class="col-4 wrapper-input">{{item(class='input--style-2 me-2')|safe}}</div>
        <div class="col-4"><span class="form-text">{{ item.description|safe }}</span></div>
        {% endif %}
      </div>
      {% if item.errors %}
      <span class="error help-inline">{{ item.errors|join(', ') }}</span>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  <div class="d-block col-4 my-5">
  {% for item in form_to_render %}
  <div class="mb-3">
    <div class="form-group">
      <div class="mb-4 row">
        {% if item.type == 'BooleanField' %}
        <div class="col-12 ps-5 align-items-center">
          {{item(class='form-check-input mx-2', value='true')|safe}}
          {{item.label(class='form-check-label')}}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

 <!--  {% for field in form_to_render %}

    {% set class_ = kwargs.pop('class_', '') %}

    {% if field.flags.required %}
    {% set class_ = class_ + ' required' %}
    {% endif %}

    <div class="form-group {% if field.errors %}error{% endif %}">

      {% if with_label %}
        {{item.label(class='fw-bold')}}
      {% endif %}

      {% if field.type == 'BooleanField' %}
      <div class="form-check-input">
        <label>

          {{ field.label.text|safe }}
        </label>
                  {{ field(class_=class_, **kwargs) }}
      </div>
      {% else %}

      {% if field.type in ('TextField', 'TextAreaField', 'PasswordField',
      'IntegerField') %}

      {% set class_ = class_ + ' input-xlarge form-control' %}

      {% elif field.type == 'FileField' %}

      {% set class_ = class_ + ' input-file form-control' %}

      {% endif %}

      {% if field.type == 'SelectField' %}

      {{ field(class_=class_, **kwargs) }}

      {% else %}

      {{ field(class_=class_, placeholder=placeholder, **kwargs) }}

      {% endif %}

      {% endif %}

      {% if field.errors %}
      <span class="error help-inline">{{ field.errors|join(', ') }}</span>
      {% endif %}

      {% if field.description %}
      <p class="help-block">{{ field.description|safe }}</p>
      {% endif %}

    </div>
  {% endfor %} -->



</form>
{% endmacro %}