<nav class="navbar navbar-light bg-light bg-white">
  <div class="container-fluid d-flex justified-conten-betweem">
    <a href="{{url_for('home')}}">
      <div class="setting-dashboard-group133521">
        <span class="setting-dashboard-text65">
          <span>GlobalView Aid</span>
        </span>
      </div>
    </a>  
    <div class="setting-dashboard-group301">
      <img src="/static//images/image11031-31li-200h.png" alt="image11031" class="setting-dashboard-image1">
    </div>
  </div>
</nav>
