<nav id="top-navbar" class="navbar navbar-light bg-light bg-white">
  <div class="row px-4 d-flex justify-content-between align-items-center">
    <div class="col-8">
      <a href="{{url_for('home')}}"class="align-items-center d-flex">
        <span><img src="/static//images/image11031-31li-200h.png" alt="image11031" class=" d-flex"></span>
        <span class="setting-dashboard-title">GlobalView Aid</span>
      </a>
    </div>
    <div class="col-3 d-flex justify-content-between pe-4">
      <div class="col-6 justify-content-center d-flex">
        <img src="/static//images/Univalle.svg" alt="image11031" class="icon">
      </div>
      <div class="col-6 justify-content-center d-flex">
        <img src="/static//images/PSI.svg" alt="image11031" class="icon">
      </div>
    </div>
  </div>
</nav>
